body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: silver;
    background-image: url(zonnepanelen.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 2000px;
}

header {
    text-align: center;
}

h1, h2, h3 {
    color: #970100;
}
main {
    margin: 2rem;
    padding: 0.5rem;
}
h1 {
    padding-left: 0.5rem;
    border-bottom: #970100 solid 3px;
    background-color: #d3d3d3;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 28px;
}

ul {
    list-style-type: none;
}

#container {
    margin: 0.3rem;
    background: #f2f2f2;
    border-radius: 2px;
    box-shadow:  0px 0px 4px #000;
}

.logo{
    width: 200px;
    margin: auto;
}



nav {
    text-align: center;
    background-color: silver;
    position: sticky;
    top: 2px;
    z-index: 1000;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    background-color: #484848;
    border-radius: 2px;
    text-align: center;
}

nav li {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: flex;
}

nav li:hover, nav li:active {
    box-shadow: 0px 0px 4px;
}

nav li a:link, nav li a:visited {
    color: white;
    text-align: center;
    padding: 0.5rem;
    display: inline-block;
    width: 60px;
    flex: 1 1 auto;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;

}

#logowit {
    display: none;
}

.hideonsmall {
    display: none;
}

.card {
    width: 100%;
}

.card img{
    height: 15rem;
    object-fit: cover;
}

.btn, .btn:visited {
    background-color: #970100;
    border: #970100 solid 2px;
}

.btn:hover {
    background-color: rgba(151, 1, 0, 0.9);
    border: #6e0100 solid 2px;
    background-color: #6e0100;
}

footer {
    background-color: lightgray;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-size: 13px;
    font-style: italic;
    color: #797979;
    border-top: #c4c4c4 solid 1px;

}

button {
    margin: 1.5rem;
    font-size: 16px;
    border: none;
}

button a {
    padding: 0.5rem;
    color: white;
    background-color: #970100;
    border: #970100 solid 2px;
    border-radius: 5px;
    text-decoration: none;
}

button a:hover {
    color: white;
    border: #6e0100 solid 2px;
    background-color: #6e0100;
}

.button {
    text-align: right;
}

footer p {
    margin: 0rem;
}

@media screen and (min-width: 768px) {
    #logowit {
        display: inline-block;
    }

    #container {
        margin: 2rem;
    }

    section {
        display: flex;
    }

    .card {
        margin: 2rem;
    }

    nav ul {
        flex-direction: row;
        border-radius: 0px;
    }
    nav li a:link, nav li a:visited {
        width: 20%;
        padding: 2rem;
        font-size: 20px;

    }

    nav li:last-child:hover {
        box-shadow: none;
    }

    nav li:last-child {
        margin-right: 0;
        flex-grow: 2;
    }

    .hideonlarge {
        display: none;
    }

    .hideonsmall {
        display: inline-block;
    }





}